rancherTurtles:
  image: controller
  imageVersion: v0.0.0
  imagePullPolicy: IfNotPresent
  namespace: rancher-turtles-system
  managerArguments: []
  imagePullSecrets: []
  rancherInstalled: true
  features:
    cluster-api-operator:
      cleanup: true
      kubectlImage: registry.k8s.io/kubernetes/kubectl:v1.30.0
    embedded-capi:
      disabled: true
    rancher-webhook:
      cleanup: true
      kubectlImage: registry.k8s.io/kubernetes/kubectl:v1.30.0
    rancher-kubeconfigs:
      label: false
    propagate-labels:
      enabled: false
    etcd-snapshot-restore:
      enabled: false
      image: controller
      imageVersion: v0.0.0
      imagePullPolicy: IfNotPresent
    addon-provider-fleet:
      enabled: false
    agent-tls-mode:
      enabled: false
cluster-api-operator:
  enabled: true
  cert-manager:
    enabled: false
  volumes:
    - name: cert
      secret:
        defaultMode: 420
        secretName: capi-operator-webhook-service-cert
    - name: clusterctl-config
      configMap:
        name: clusterctl-config
  image:
    manager:
      repository: registry.rancher.com/rancher/cluster-api-operator
  volumeMounts:
    manager:
      - mountPath: /tmp/k8s-webhook-server/serving-certs
        name: cert
        readOnly: true
      - mountPath: /config
        name: clusterctl-config
        readOnly: true
  cluster-api:
    enabled: true
    configSecret:
      name: ""
      defaultName: capi-env-variables
    core:
      namespace: capi-system
      imageUrl: ""
      fetchConfig:
        url: ""
        selector: ""
    rke2:
      enabled: true
      version: ""
      bootstrap:
        namespace: rke2-bootstrap-system
        imageUrl: ""
        fetchConfig:
          url: ""
          selector: ""
      controlPlane:
        namespace: rke2-control-plane-system
        imageUrl: ""
        fetchConfig:
          url: ""
          selector: ""
