export VSPHERE_TLS_THUMBPRINT=""
export VSPHERE_SERVER=""
export VSPHERE_DATACENTER=""
export VSPHERE_DATASTORE=""
export VSPHERE_FOLDER=""
export VSPHERE_TEMPLATE=""
export VSPHERE_NETWORK=""
export VSPHERE_PASSWORD=""
export VSPHERE_USERNAME=""
export VSPHERE_SSH_AUTHORIZED_KEY=""
export CONTROL_PLANE_ENDPOINT_IP=""
export EXP_CLUSTER_RESOURCE_SET="true/false"
export GOVC_URL=""
export GOVC_USERNAME=""
export GOVC_PASSWORD=""
export GOVC_INSECURE="true/false"