{
    "default_registry": "docker.io/rancher",
    "debug": {
        "turtles": {
            "continue": true,
            "port": 40000,
            "insecure_skip_verify": "true"
        }
    }
}
