{
    "default_registry": "ghcr.io/test",
    "debug": {
        "turtles": {
            "continue": true,
            "port": 40000,
            "insecure_skip_verify": "true"
        },
        "turtles-etcdsnapshotrestore": {
            "continue": true,
            "port": 40000,
            "insecure_skip_verify": "true"
        }
    }
}
