---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: rke2etcdmachinesnapshotconfigs.turtles-capi.cattle.io
spec:
  group: turtles-capi.cattle.io
  names:
    kind: RKE2EtcdMachineSnapshotConfig
    listKind: RKE2EtcdMachineSnapshotConfigList
    plural: rke2etcdmachinesnapshotconfigs
    singular: rke2etcdmachinesnapshotconfig
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: RKE2EtcdMachineSnapshotConfig is the config for the RKE2EtcdMachineSnapshotConfig
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: RKE2EtcdMachineSnapshotConfigSpec defines the desired state
              of RKE2EtcdMachineSnapshotConfig
            properties:
              local:
                properties:
                  dataDir:
                    type: string
                required:
                - dataDir
                type: object
              s3:
                properties:
                  bucket:
                    type: string
                  endpoint:
                    type: string
                  endpointCAsecret:
                    type: string
                  folder:
                    type: string
                  insecure:
                    type: boolean
                  region:
                    type: string
                  s3CredentialSecret:
                    type: string
                  skipSSLVerify:
                    type: boolean
                type: object
            required:
            - local
            - s3
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
