name: "Build release"
description: "Builds release image and pushes to the registry"
inputs:
  tag:
    description: "Image tag"
    type: string
    default: "github-actions"
  org:
    description: "Organization part of the image path"
    required: false
    default: "rancher"
    type: string
  registry:
    description: "The registry to login"
    required: true
    type: string
  username:
    description: "The username to registry"
    required: true
    type: string
  password:
    required: true
    description: "The password for registry login"
    type: string
outputs:
  digest:
    description: "Image digest"
    value: ${{ steps.image_info.outputs.digest }}
  image:
    description: "Image name"
    value: ${{ steps.image_info.outputs.image }}

runs:
  using: "composite"
  steps:
    - name: setupGo
      uses: actions/setup-go@v4
      with:
        go-version: "=1.23.9"
    - name: Docker login to ghcr registry
      uses: docker/login-action@v3
      with:
        registry: ${{ inputs.registry }}
        username: ${{ inputs.username }}
        password: ${{ inputs.password }}
    - name: Build & Push docker image
      shell: bash
      id: image_info
      run: |
        IID_FILE=$(mktemp)
        make docker-build-and-push TAG=${{ inputs.tag }} REGISTRY=${{ inputs.registry }} ORG=${{ inputs.org }} IID_FILE=${IID_FILE}

        digest=$(head -n 1 ${IID_FILE})
        image=${{ inputs.registry }}/${{ inputs.org }}/turtles
        echo "digest=${digest}" >> $GITHUB_OUTPUT
        echo "image=${image}" >> $GITHUB_OUTPUT
