name: Run CI checks

on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  ci:
    name: ci
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6.1.0
        with:
          go-version-file: go.mod
          check-latest: true
          cache: true
      - name: Verify
        run: make verify
      - name: Build
        run: make build
      - name: Test
        run: make test
