name: dependabot

on:
  pull_request:
    types: [opened, edited, synchronize, reopened, labeled, unlabeled]
    branches:
      - dependabot/**
  push:
    branches:
      - dependabot/**
  workflow_dispatch:

permissions:
  contents: write # Allow to update the PR.

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@941977282cd715ac8e0b3adc8555bef6dc794b7e # tag=v3.5.0
      with:
        go-version: 1.22.0
      id: go
    - name: Check out code into the Go module directory
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
    - name: Update generated code
      run: make generate
    - name: Commit changes
      run: |
        git config --local user.email "49699333+dependabot[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git add .
        [[ -z "$(git status -s)" ]] || git commit -m "Update generated code"
        git push
