name: Run nightly e2e tests

on:
  schedule:
    - cron: "0 0 1/2 * *"
  workflow_dispatch:

concurrency: ci_e2e_tests

jobs:
  publish_e2e_image:
    uses: ./.github/workflows/e2e-image-publish.yaml
    secrets: inherit
  e2e_import_gitops_v3:
    needs: publish_e2e_image
    uses: ./.github/workflows/run-e2e-suite.yaml
    with:
      test_suite: test/e2e/suites/import-gitops-v3
      test_name: Import via GitOps [v3]
      run_azure_janitor: true
      artifact_name: artifacts_import_gitops_v3
      MANAGEMENT_CLUSTER_ENVIRONMENT: eks
    secrets: inherit
  e2e_v2prov:
    needs: publish_e2e_image
    uses: ./.github/workflows/run-e2e-suite.yaml
    with:
      test_suite: test/e2e/suites/v2prov
      test_name: v2 provisioning
      run_azure_janitor: false
      artifact_name: artifacts_v2prov
      MANAGEMENT_CLUSTER_ENVIRONMENT: eks
    secrets: inherit
  clean_e2e_image:
    if: always()
    needs: [e2e_import_gitops_v3, e2e_v2prov]
    uses: ./.github/workflows/e2e-image-clean.yaml
    secrets: inherit
