name: Run short e2e tests

on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  MANAGEMENT_CLUSTER_ENVIRONMENT: "isolated-kind"
  GINKGO_LABEL_FILTER: "short"
  TAG: v0.0.1
  SOURCE_REPO: https://github.com/${{ github.event.pull_request.head.repo.full_name }}

jobs:
  e2e:
    runs-on: runs-on,runner=4cpu-linux-x64,run-id=${{ github.run_id }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: setupGo
        uses: actions/setup-go@v5.4.0
        with:
          go-version: "=1.23.9"
      - name: Run e2e tests
        run: make test-e2e
      - name: Collect run artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: _artifacts
