name: Run short e2e tests (with runner)

on:
  workflow_dispatch:

jobs:
  e2e:
    runs-on: org--rancher--amd64-containers
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.3
        with:
          fetch-depth: 0
      - name: setupGo
        uses: actions/setup-go@v5
        with:
          go-version: "=1.22.0"
      - name: Run e2e tests
        run: ISOLATED_MODE=true  USE_EKS=false GINKGO_LABEL_FILTER=short make test-e2e
      - name: Collect run artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: _artifacts
