name: Run nightly e2e tests

on:
  schedule:
    - cron: "0 0 1/2 * *"
  workflow_dispatch:

concurrency: ci_e2e_tests

jobs:
  publish_e2e_image:
    uses: ./.github/workflows/e2e-image-publish.yaml
    secrets: inherit
  e2e_import_gitops:
    needs: publish_e2e_image
    uses: ./.github/workflows/run-e2e-suite.yaml
    with:
      test_suite: test/e2e/suites/import-gitops
      test_name: Import via GitOps
      run_azure_janitor: false
      artifact_name: artifacts_import_gitops
      MANAGEMENT_CLUSTER_ENVIRONMENT: eks
    secrets: inherit
  e2e_import_gitops_v3:
    needs: publish_e2e_image
    uses: ./.github/workflows/run-e2e-suite.yaml
    with:
      test_suite: test/e2e/suites/import-gitops-v3
      test_name: Import via GitOps [v3]
      run_azure_janitor: true
      artifact_name: artifacts_import_gitops_v3
      MANAGEMENT_CLUSTER_ENVIRONMENT: eks
    secrets: inherit
  e2e_v2prov:
    needs: publish_e2e_image
    uses: ./.github/workflows/run-e2e-suite.yaml
    with:
      test_suite: test/e2e/suites/v2prov
      test_name: v2 provisioning
      run_azure_janitor: false
      artifact_name: artifacts_v2prov
      MANAGEMENT_CLUSTER_ENVIRONMENT: eks
    secrets: inherit
  e2e_update_labels:
    needs: publish_e2e_image
    uses: ./.github/workflows/run-e2e-suite.yaml
    with:
      test_suite: test/e2e/suites/update-labels
      test_name: Update labels
      run_azure_janitor: false
      artifact_name: artifacts_update_labels
      MANAGEMENT_CLUSTER_ENVIRONMENT: eks
    secrets: inherit
  e2e_embedded_capi_disabled:
    needs: publish_e2e_image
    uses: ./.github/workflows/run-e2e-suite.yaml
    with:
      test_suite: test/e2e/suites/embedded-capi-disabled
      test_name: Embedded CAPI disabled
      run_azure_janitor: false
      artifact_name: artifacts_embedded_capi
      MANAGEMENT_CLUSTER_ENVIRONMENT: eks
    secrets: inherit
  e2e_embedded_capi_disabled_v3:
    needs: publish_e2e_image
    uses: ./.github/workflows/run-e2e-suite.yaml
    with:
      test_suite: test/e2e/suites/embedded-capi-disabled-v3
      test_name: Embedded CAPI disabled [v3]
      run_azure_janitor: false
      artifact_name: artifacts_embedded_capi_v3
      MANAGEMENT_CLUSTER_ENVIRONMENT: eks
    secrets: inherit
  clean_e2e_image:
    if: always()
    needs: [e2e_import_gitops, e2e_import_gitops_v3, e2e_v2prov, e2e_update_labels, e2e_embedded_capi_disabled, e2e_embedded_capi_disabled_v3]
    uses: ./.github/workflows/e2e-image-clean.yaml
    secrets: inherit
