name: Run short e2e tests (with runner)

on:
  workflow_dispatch:

env:
  MANAGEMENT_CLUSTER_ENVIRONMENT: "isolated-kind"
  GINKGO_LABEL_FILTER: "short"

jobs:
  e2e:
    runs-on: org--rancher--amd64-containers
    container: ubuntu:22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: setupGo
        uses: actions/setup-go@v5.0.2
        with:
          go-version: "=1.22.0"
      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - name: Run e2e tests
        run: CACHE_DIR=/tmp/.buildx-cache make test-e2e
      - name: Collect run artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: _artifacts
