name: Lint

on:
  pull_request:
    types: [opened, edited, synchronize, reopened, labeled, unlabeled]

# Remove all permissions from GITHUB_TOKEN except metadata.
permissions: {}

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7
      - uses: actions/setup-go@v5.0.2
        with:
          go-version: 1.22.0
      - name: Lint
        run: make lint
