
on:
  workflow_call:
    inputs:
      test_suite:
        description: "The test suite to run (i.e. path to it)"
        required: true
        type: string
      test_name:
        description: "The display name for the test"
        required: true
        type: string
      artifact_name:
        description: "The name for the uploaded artifacts"
        required: true
        type: string
      run_azure_janitor:
        description: "Run the Azure janitor after the test to cleanup"
        required: false
        default: false
        type: boolean

env:
  NGROK_AUTHTOKEN: ${{ secrets.NGROK_AUTHTOKEN }}
  NGROK_API_KEY: ${{ secrets.NGROK_API_KEY }}
  RANCHER_HOSTNAME: ${{ secrets.NGROK_DOMAIN }}
  RANCHER_PASSWORD: ${{ secrets.RANCHER_PASSWORD }}
  CAPA_ENCODED_CREDS: ${{ secrets.CAPA_ENCODED_CREDS }}
  AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
  AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
  AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
  AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}

jobs:
  run_e2e_tests:
    runs-on: [self-hosted, linux]
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: setupGo
      uses: actions/setup-go@v5
      with:
        go-version: '=1.22.0'
    - name: Run e2e tests
      run: GINKGO_TESTS=${{ inputs.test_suite }} make test-e2e
    - name: Collect run artifacts
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: artifacts_${{ inputs.artifact_name }}
        path: _artifacts
    - name: Cleanup Azure Resources
      if: ${{ inputs.run_azure_janitor && always() }}
      uses: rancher-sandbox/azure-janitor@v0.1.1
      with:
        resource-groups: highlander-e2e*
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID}}
        client-id: ${{ secrets.AZURE_CLIENT_ID}}
        client-secret: ${{ secrets.AZURE_CLIENT_SECRET}}
        tenant-id: ${{ secrets.AZURE_TENANT_ID}}
        commit: true
    - name: Send failed status to slack
      if: failure()
      uses: slackapi/slack-github-action@v1.25.0
      with:
        payload: |
          {
            "blocks": [
              {
                "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "Rancher turtles E2E test (${{ inputs.test_name }}) run failed. Job trigger by ${{ github.event_name }} event."
                  },
                  "accessory": {
                    "type": "button",
                    "text": {
                      "type": "plain_text",
                      "text": ":github:",
                        "emoji": true
                      },
                    "url": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
                  }
                }
            ]
          }
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
