name: trivy

on:
  push:
    branches: [ "main", "release-*" ]
  pull_request:
    types: [opened, edited, synchronize, reopened, labeled, unlabeled]
    branches: [ "main" ]
  schedule:
    - cron: '37 1 * * *'

permissions:
  contents: read

jobs:
  scan:
    permissions:
      contents: read
      security-events: write
    name: Scan
    runs-on: "ubuntu-20.04"
    steps:
      - name: Docker login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout code
        uses: actions/checkout@v4.1.7
      - name: Build an image
        run: |
          TAG=${{ github.sha }} make docker-build
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@915b19bbe73b92a6cf82a1bc12b087c9a19a5fe2
        with:
          image-ref: 'ghcr.io/rancher/turtles:${{ github.sha }}'
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH'
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'
